absl-py==0.10.0
astor==0.8.1
gast==0.4.0
grpcio==1.31.0
h5py==2.10.0
importlib-metadata==1.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.2.2
mock==4.0.2
nibabel==3.1.1
numpy==1.16.0
packaging==20.4
pkg-resources==0.0.0
protobuf==3.13.0
pyparsing==2.4.7
scipy==1.5.2
six==1.15.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
Werkzeug==1.0.1
zipp==3.1.0
