# build files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.[oa]
ld_map.txt
install_manifest.txt

# generated help files
*.help.xml.h
.idea/**/*.xml

# generated source files
utils/version_info.h
qdec/QdecLibInit.cxx
qdec/vtkKWQdecAppTcl.cxx
qdec/vtkKWQdecViewTcl.cxx
qdec/vtkKWQdecWindowTcl.cxx
vtkutils/vtkKWBltGraphTcl.cxx
vtkutils/vtkKWRGBATransferFunctionEditorTcl.cxx

# generated Qt files
ui_*.*
moc_*.*
*_autogen/

# python cache
__pycache__
*.pyc
*.egg-info
python/build
qatools/build

# in-source cpython library builds
*cpython*.so

# fs license
distribution/.license
distribution/license.txt

# freeview
freeview/qtcolorpicker.moc
freeview/qrc_freeview.cpp

# misc
.vscode/
ITKFactoryRegistration/

# compiled binaries
anatomicuts/AnatomiCuts.bin
anatomicuts/AnatomiCuts_correspondences.bin
anatomicuts/streamlineFilter.bin
anatomicuts/trk_tools.bin
AntsDenoiseImageFs/AntsDenoiseImageFs
AntsN4BiasFieldCorrectionFs/AntsN4BiasFieldCorrectionFs
check_siemens_dir/check_siemens_dir
connectgraph/connectgraph
diffusion_tool/diffusion_tool
dmri_tensoreig/dmri_tensoreig
dngtester/cpptester
dngtester/dngtester
fem_elastic/applyMorph
fem_elastic/createMorph
fem_elastic/exportGcam
fem_elastic/surf2vol
freeview/freeview.bin
fslutils/fsl_label2voxel
hiam_make_surfaces/hiam_make_surfaces
hiam_make_template/hiam_make_template
hiam_register/hiam_register
histo_compute_joint_density/histo_compute_joint_density
histo_fix_topology/histo_fix_topology
histo_register/histo_register.bin
histo_register_block/histo_register_block
histo_segment/histo_segment
histo_synthesize/histo_synthesize
label2flat/label2flat
label2patch/label2patch
label_area/label_area
label_border/label_border
lta_convert/lta_convert
mkxsubjreg/mkxsubjreg
mri_add_xform_to_header/mri_add_xform_to_header
mri_and/mri_and
mri_and/mri_or
mri_annotation2label/mri_annotation2label
mri_aparc2aseg/mri_aparc2aseg
mri_aparc2wmseg/mri_aparc2wmseg
mri_aparc2aseg/mri_surf2volseg
mri_apply_inu_correction/mri_apply_inu_correction
mri_aseg_edit_reclassify/mri_aseg_edit_reclassify
mri_aseg_edit_train/mri_aseg_edit_train
mri_auto_fill/mri_auto_fill
mri_average/mri_average
mri_bc_sc_bias_correct/mri_bc_sc_bias_correct
mri_bias/mri_apply_bias
mri_bias/mri_compute_bias
mri_binarize/mri_binarize
mri_brainvol_stats/mri_brainvol_stats
mri_build_priors/mri_build_priors
mri_ca_label/mri_ca_label
mri_ca_normalize/mri_ca_normalize
mri_ca_normalize/mri_cal_normalize
mri_ca_register/mri_ca_register
mri_ca_tissue_parms/mri_ca_tissue_parms
mri_ca_train/mri_ca_train
mri_cal_renormalize_gca/mri_cal_renormalize_gca
mri_cc/mri_cc
mri_cht2p/mri_cht2p
mri_classify/mri_classify
mri_cnr/mri_cnr
mri_compile_edits/mri_compile_edits
mri_compute_change_map/mri_compute_change_map
mri_compute_overlap/mri_compute_overlap
mri_compute_seg_overlap/mri_compute_seg_overlap
mri_compute_structure_transforms/mri_compute_structure_transforms
mri_compute_volume_fractions/mri_compute_layer_fractions
mri_compute_volume_fractions/mri_compute_volume_fractions
mri_compute_volume_fractions/mri_compute_volume_intensities
mri_compute_volume_fractions/mris_compute_layer_intensities
mri_concat/mri_concat
mri_concatenate_gcam/mri_concatenate_gcam
mri_concatenate_lta/mri_concatenate_lta
mri_convert/mri_convert
mri_convert/mri_make_uchar
mri_convert_mdh/mri_convert_mdh
mri_copy_values/mri_copy_values
mri_cor2label/mri_cor2label
mri_coreg/mri_coreg
mri_correct_segmentations/mri_correct_segmentations
mri_dct_align/mri_dct_align
mri_dct_align/mri_dct_align_binary
mri_deface/mri_deface
mri_diff/mri_diff
mri_distance_transform/mri_distance_transform
mri_divide_segmentation/mri_divide_segmentation
mri_edit_segmentation/mri_edit_segmentation
mri_edit_segmentation_with_surfaces/mri_edit_segmentation_with_surfaces
mri_edit_wm_with_aseg/mri_edit_wm_with_aseg
mri_elastic_energy/mri_elastic_energy
mri_em_register/mri_em_register
mri_estimate_tissue_parms/mri_estimate_tissue_parms
mri_evaluate_morph/mri_evaluate_morph
mri_extract/mri_extract
mri_extract_conditions/mri_extract_conditions
mri_extract_fcd_features/mri_extract_fcd_features
mri_extract_label/mri_extract_label
mri_extract_largest_CC/mri_extract_largest_CC
mri_fcili/mri_fcili
mri_fdr/mri_fdr
mri_fieldsign/mri_fieldsign
mri_fill/mri_fill
mri_fit_bias/mri_fit_bias
mri_fslmat_to_lta/mri_fslmat_to_lta
mri_fuse_intensity_images/mri_fuse_intensity_images
mri_fuse_segmentations/mri_fuse_segmentations
mri_fwhm/mri_fwhm
mri_gca_ambiguous/mri_gca_ambiguous
mri_gcab_train/mri_gcab_train
mri_gcut/mri_gcut
mri_gdfglm/mri_gdfglm
mri_glmfit/mri_glmfit
mri_gtmpvc/mri_gtmpvc
mri_gtmseg/mri_gtmseg
mri_hausdorff_dist/mri_hausdorff_dist
mri_head/mri_head
mri_hires_register/mri_compute_distances
mri_hires_register/mri_hires_register
mri_hires_register/mri_linear_align
mri_hires_register/mri_linear_align_binary
mri_hires_register/mri_nl_align
mri_hires_register/mri_nl_align_binary
mri_histo_eq/mri_histo_eq
mri_histo_normalize/mri_histo_normalize
mri_ibmc/mri_ibmc
mri_info/mri_info
mri_interpolate/mri_interpolate
mri_jacobian/mri_jacobian
mri_joint_density/mri_joint_density
mri_label2label/mri_label2label
mri_label2vol/mri_label2vol
mri_label_accuracy/mri_label_accuracy
mri_label_histo/mri_label_histo
mri_label_vals/mri_label_vals
mri_label_volume/mri_label_volume
mri_linear_register/mri_linear_register
mri_log_likelihood/mri_log_likelihood
mri_make_bem_surfaces/mri_make_bem_surfaces
mri_make_density_map/mri_make_density_map
mri_make_labels/mri_make_labels
mri_make_register/mri_make_register
mri_make_template/mri_make_template
mri_map_cpdat/mri_map_cpdat
mri_mark_temporal_lobe/mri_mark_temporal_lobe
mri_mask/mri_mask
mri_matrix_multiply/mri_matrix_multiply
mri_mc/mri_mc
mri_mc/mri_pretess
mri_mc/mris_extract_main_component
mri_mcsim/mri_mcsim
mri_mi/mri_mi
mri_modify/mri_copy_params
mri_modify/mri_modify
mri_morphology/mri_morphology
mri_mosaic/mri_mosaic
mri_ms_EM/mri_ms_EM
mri_ms_EM_with_atlas/mri_ms_EM_with_atlas
mri_ms_LDA/mri_ms_LDA
mri_ms_fitparms/mri_ms_fitparms
mri_multiscale_segment/mri_multiscale_segment
mri_multispectral_segment/mri_multispectral_segment
mri_nlfilter/mri_nlfilter
mri_normalize/mri_long_normalize
mri_normalize/mri_normalize
mri_normalize_tp2/mri_normalize_tp2
mri_otl/list_otl_labels
mri_paint/mri_paint
mri_parse_sdcmdir/mri_parse_sdcmdir
mri_parselabel/mri_parselabel
mri_partial_ribbon/mri_partial_ribbon
mri_path2label/mri_path2label
mri_polv/mri_polv
mri_probe_ima/mri_probe_ima
mri_probedicom/mri_probedicom
mri_reduce/mri_reduce
mri_refine_seg/mri_refine_seg
mri_register/mri_register
mri_relabel_hypointensities/mri_relabel_hypointensities
mri_relabel_nonwm_hypos/mri_relabel_nonwm_hypos
mri_remove_neck/mri_remove_neck
mri_rf_label/mri_rf_label
mri_rf_long_label/mri_rf_long_label
mri_rf_long_train/mri_rf_long_train
mri_rf_train/mri_rf_train
mri_ribbon/mri_ribbon
mri_rigid_register/mri_rigid_register
mri_robust_register/lta_diff
mri_robust_register/mri_create_tests
mri_robust_register/mri_gradient_info
mri_robust_register/mri_robust_register
mri_robust_register/mri_robust_template
mri_sbbr/mri_sbbr
mri_seg_diff/mri_seg_diff
mri_seg_overlap/mri_seg_overlap
mri_segcentroids/mri_segcentroids
mri_seghead/mri_seghead
mri_segment/mri_segment
mri_segment_tumor/mri_segment_tumor
mri_segment_wm_damage/mri_segment_wm_damage
mri_segreg/mri_segreg
mri_segstats/mri_segstats
mri_simulate_atrophy/mri_simulate_atrophy
mri_stats2seg/mri_stats2seg
mri_strip_nonwhite/mri_strip_nonwhite
mri_strip_subject_info/mri_strip_subject_info
mri_surf2surf/mri_surf2surf
mri_surf2vol/mri_surf2vol
mri_surfacemask/mri_surfacemask
mri_surfcluster/mri_surfcluster
mri_synthesize/mri_synthesize
mri_tessellate/ico_supersample
mri_tessellate/mri_tessellate
mri_threshold/mri_threshold
mri_topologycorrection/mri_topologycorrection
mri_train/mri_train
mri_train_autoencoder/mri_apply_autoencoder
mri_train_autoencoder/mri_train_autoencoder
mri_transform/mri_transform
mri_transform_to_COR/mri_transform_to_COR
mri_twoclass/mri_twoclass
mri_update_gca/mri_update_gca
mri_vol2roi/mri_vol2roi
mri_vol2surf/mri_vol2surf
mri_vol2vol/mri_vol2vol
mri_volcluster/mri_volcluster
mri_voldiff/mri_voldiff
mri_volsynth/mri_volsynth
mri_warp_concat/mri_warp_concat
mri_warp_convert/mri_warp_convert
mri_watershed/brain_volume/mri_brain_volume
mri_watershed/brain_volume/mri_brain_volume_test
mri_watershed/mri_validate_skull_stripped
mri_watershed/mri_watershed
mri_wbc/mri_wbc
mri_wmfilter/mri_wmfilter
mri_xcorr/mri_xcorr
mri_xvolavg/mri_xvolavg
mri_z2p/mri_z2p
mris2rgb/mris2rgb
mris_BA_segment/mris_BA_segment
mris_add_template/mris_add_template
mris_anatomical_stats/mris_anatomical_stats
mris_annot_diff/mris_annot_diff
mris_annot_to_segmentation/mris_annot_to_segmentation
mris_apply_reg/mris_apply_reg
mris_aseg_distance/mris_aseg_distance
mris_average_curvature/mris_average_curvature
mris_average_parcellation/mris_average_parcellation
mris_ca_label/mris_ca_label
mris_ca_train/mris_ca_train
mris_calc/mris_calc
mris_classify_thickness/mris_classify_thickness
mris_compute_acorr/mris_compute_acorr
mris_compute_optimal_kernel/mris_compute_optimal_kernel
mris_compute_overlap/mris_compute_overlap
mris_compute_parc_overlap/mris_compute_parc_overlap
mris_compute_volume_fractions/mris_compute_volume_fractions
mris_congeal/mris_congeal
mris_convert/mris_convert
mris_copy_header/mris_copy_header
mris_curvature/mris_curvature
mris_curvature_stats/mris_curvature_stats
mris_decimate/mris_decimate
mris_decimate_gui/mris_decimate_gui.bin
mris_defects_pointset/mris_defects_pointset
mris_deform/mris_ca_deform
mris_deform/mris_deform
mris_deform/mris_nudge
mris_density/mris_density
mris_diff/mris_diff
mris_distance_map/mris_distance_map
mris_distance_to_label/mris_distance_to_label
mris_distance_transform/mris_distance_transform
mris_divide_parcellation/mris_divide_parcellation
mris_entropy/mris_entropy
mris_errors/mris_errors
mris_euler_number/mris_euler_number
mris_expand/mris_expand
mris_extract_patches/mris_extract_patches
mris_fbirn_annot/mris_fbirn_annot
mris_fill/mris_fill
mris_find_flat_regions/mris_find_flat_regions
mris_fix_topology/mris_fix_topology
mris_fix_topology/mris_remove_intersection
mris_flatten/mris_flatten
mris_fwhm/mris_fwhm
mris_glm/mris_glm
mris_hausdorff_dist/mris_hausdorff_dist
mris_inflate/mris_inflate
mris_info/mris_info
mris_init_global_tractography/mris_init_global_tractography
mris_interpolate_warp/mris_interpolate_warp
mris_jacobian/mris_jacobian
mris_label2annot/mris_label2annot
mris_label_area/mris_label_area
mris_label_calc/mris_label_calc
mris_label_mode/mris_label_mode
mris_left_right_register/mris_left_right_register
mris_longitudinal_surfaces/mris_longitudinal_surfaces
mris_make_average_surface/mris_make_average_surface
mris_make_face_parcellation/mris_make_face_parcellation
mris_make_map_surfaces/mris_make_map_surfaces
mris_make_surfaces/mris_autodet_gwstats
mris_make_surfaces/mris_exvivo_surfaces
mris_make_surfaces/mris_make_surfaces
mris_make_surfaces/mris_mef_surfaces
mris_make_surfaces/mris_place_surface
mris_make_surfaces/mris_refine_surfaces
mris_make_template/mris_make_template
mris_map_cuts/mris_map_cuts
mris_merge_parcellations/mris_merge_parcellations
mris_mesh_subdivide/mris_mesh_subdivide.bin
mris_morph_stats/mris_morph_stats
mris_ms_refine/mris_ms_refine
mris_ms_surface_CNR/mris_ms_surface_CNR
mris_multiscale_stats/mris_multiscale_stats
mris_niters2fwhm/mris_niters2fwhm
mris_parcellate_connectivity/mris_parcellate_connectivity
mris_pmake/mris_pmake
mris_register/mris_register
mris_register_label_map/mris_register_label_map
mris_register_to_volume/mris_register_to_label
mris_register_to_volume/mris_register_to_volume
mris_remove_variance/mris_remove_variance
mris_resample/mris_resample
mris_rescale/mris_rescale
mris_reverse/mris_reverse
mris_rf_label/mris_rf_label
mris_rf_train/mris_rf_train
mris_rotate/mris_rotate
mris_sample_label/mris_sample_label
mris_sample_parc/mris_sample_parc
mris_seg2annot/mris_seg2annot
mris_segment/mris_segment
mris_segment_vals/mris_segment_vals
mris_segmentation_stats/mris_segmentation_stats
mris_shrinkwrap/mris_AA_shrinkwrap
mris_shrinkwrap/mris_shrinkwrap
mris_simulate_atrophy/mris_simulate_atrophy
mris_smooth/mris_smooth
mris_sphere/mris_remove_negative_vertices
mris_sphere/mris_sphere
mris_spherical_average/mris_spherical_average
mris_surface_change/mris_surface_change
mris_surface_stats/mris_surface_stats
mris_surface_to_vol_distances/mris_surface_to_vol_distances
mris_svm_classify/mris_svm_classify
mris_svm_train/mris_svm_train
mris_talairach/mris_talairach
mris_thickness/mris_gradient
mris_thickness/mris_intensity_profile
mris_thickness/mris_thickness
mris_thickness_comparison/mris_thickness_comparison
mris_thickness_diff/mris_thickness_diff
mris_topo_fixer/mris_topo_fixer
mris_transform/mris_transform
mris_translate_annotation/mris_translate_annotation
mris_transmantle_dysplasia_paths/mris_transmantle_dysplasia_paths
mris_twoclass/mris_twoclass
mris_volmask/mris_volmask
mris_volmask/mris_volmask_novtk
mris_volmask/mris_volmask_vtk.bin
mris_volume/mris_volume
mris_volume/mris_wm_volume
mris_w_to_curv/mris_w_to_curv
mris_warp/mris_warp
mris_watershed/mris_watershed
mrisp_paint/mrisp_paint
mrisp_write/mrisp_write
oct_register_mosaic/oct_register_mosaic
oct_train/oct_rf_train
oct_train/oct_train
optseq2/optseq2
qdec/qdec.bin
qdec_glmfit/qdec_glmfit
rbftest/rbftest
regdat2xfm/regdat2xfm
repair_siemens_file/repair_siemens_file
resurf/mris_surf2resurf.bin
spherical_stats/spherical_stats
spline3/Spline3_test
stat_normalize/stat_normalize
stim_polar/stim_polar
swi_processing/swi_preprocess
swi_processing/swi_process
talairach_afd/talairach_afd
talairach_avi/4dfptoanalyze
talairach_avi/analyzeto4dfp
talairach_avi/compute_vox2vox
talairach_avi/flip_4dfp
talairach_avi/gauss_4dfp
talairach_avi/ifh2hdr
talairach_avi/imgreg_4dfp
talairach_avi/t4imgs_4dfp
talairach_avi/zero_lt_4dfp
template/template
test_makevol/makevol
tkmedit/tkmedit.bin
tkregister2/tkregister2.bin
tkregister2/tkregister2_cmdl
tksurfer/tksurfer.bin
trc/dmri_forrest
trc/dmri_group
trc/dmri_mergepaths
trc/dmri_motion
trc/dmri_paths
trc/dmri_pathstats
trc/dmri_spline
trc/dmri_train
trc/dmri_trk2trk
trc/dmri_vox2vox
tridec/tridec
utils/fsPrintHelp
utils/gifti_test
utils/gifti_tool
utils/xmlToHtml

# testdata
*/testdata
Testing
