[submodule "GEMS2/pybind11"]
	path = GEMS2/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "samseg/samseg/hdav"]
	path = samseg/samseg/hdav
	url = git@github.com:innolitics/hdav.git
