# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# a bit more complicated for GEMS to go first so that later patterns pick up ignores as well
GEMS/*
!GEMS/*.*
!GEMS/*/
CVS/
*.[oa]
Makefile
Makefile.in
.deps/
config.h*
config.log
config.status
configure
config/*
m4/*
aclocal.m4
autom4te.cache/
cpuflags.mak
libtool
stamp-h1
# generated UI files
ui_*.*
moc_*.*
