# see man gitattributes

# Map file extensions to git filters
# See .git-keywords directory and .gitconfig

*.h filter=kw
*.hpp filter=kw
*.c filter=kw
*.cpp filter=kw
*.py filter=kw
*.am filter=kw
*.m filter=kw

