# see man gitattributes

# ident does the following: When the attribute ident is set for a path, 
# Git replaces <dollar>Id<dollar> in the blob object with <dollar>Id:, followed by the 40-character 
# hexadecimal blob object name, followed by a <dollar> sign <dollar> upon checkout. 
# Any byte sequence that begins with <dollar>Id: and ends with <dollar> in the worktree 
# file is replaced with <dollar>Id<dollar> upon check-in.

# expand <dollar>Id<dollar> in any of these files, to update git commit info:
*.c ident
*.cpp ident
*.h ident
*.hpp ident
*.py ident
*.am ident
