# see man gitattributes

# Map file extensions to git filters

# See .git-keywords directory for kw filter, and .gitconfig
#*.h filter=kw
#*.hpp filter=kw
#*.c filter=kw
#*.cpp filter=kw
#*.py filter=kw
#*.am filter=kw
#*.m filter=kw

# See .git-rcs-keywords/.git_filters directory for filters, and .gitconfig
*.h filter=rcs-keywords
*.hpp filter=rcs-keywords
*.c filter=rcs-keywords
*.cpp filter=rcs-keywords
*.py filter=rcs-keywords
*.am filter=rcs-keywords
*.m filter=rcs-keywords
