#!/bin/csh -f

#######################################################################
#
# This is an example script that sets all the variables necessary for
# the classification code to run. The intput data is controlled
# by the INPUT_DIR and the  STUDY_GROUP1, STUDY_GROUP2 env variables.
# The output will be stored in the output directory under WORK_DIR.
#
#  Warning: if the two groups are of very different sizes, the results
#  will be substantially biased towards the bigger group.
#
#######################################################################


# Two groups of subjects in the study
setenv STUDY_GROUP1 "$PATIENTS_TIME2"
setenv STUDY_GROUP2 "$CONTROLS_TIME2"


# Directory that contains all the subject directories,
# set it to be equal to $SUBJECTS_DIR
setenv INPUT_DIR /csail/vision-polina/polina/mbirn/data


# Working directory that will be used to write output and temp files
setenv WORK_DIR /csail/vision-polina/polina/mbirn/work


# The format string for the input raw files: it specifies how the name 
# of the input file is formed from the name of the subject
setenv INPUT_FILENAME_FORMAT $INPUT_DIR/%s/mri/density.raw


# Number of features in the input files (for standard volumes, 
# the default corresponds to 256x256x256 volume).
setenv FEATURE_COUNT 16777216

# Optional: binary format. If this flag is set to 1, the input files are assumed to be
# binary, float. If it's 0, the input files are assumed to be ascii. 
# If not set, the scripts will assume the binary format as a default.
# The output will be written out in the same format as the input data.
# setenv BINARY_FORMAT 1


# Optional: number of jacknifing iterations. If not set, is will be
# equal to 1000.
# setenv JACKKNIFE_ITERATIONS 1000


#######################################################################
#
#  Do not change anything below this point!
#
#######################################################################

if ($?SVM_DIR == 0 ) then
  echo 'Error: SVM_DIR is not defined. Set and re-run.'
  exit(1)
endif

$SVM_DIR/csh/run-classify.csh

unsetenv STUDY_GROUP1
unsetenv STUDY_GROUP2
unsetenv INPUT_DIR
unsetenv WORK_DIR
unsetenv INPUT_FILENAME_FORMAT
unsetenv FEATURE_COUNT
unsetenv BINARY_FORMAT
unsetenv JACKKNIFE_ITERATIONS
