# Variable	Match Mode	Match Tol.	Diff. Tol.
# Write test should be identical
area		maxAbsDiff	0		1e-10
area1		maxAbsDiff	0		1e-10
area2		maxAbsDiff	0		1e-10
dx		maxAbsDiff	0		1e-10
dy		maxAbsDiff	0		1e-10
dz		maxAbsDiff	0		1e-10
invalid		maxAbsDiff	0		1e-10
labelDist	maxAbsDiff	0		1e-10
mean		maxAbsDiff	0		1e-10
odx		maxAbsDiff	0		1e-10
ody		maxAbsDiff	0		1e-10
odz		maxAbsDiff	0		1e-10
origArea	maxAbsDiff	0		1e-10
origArea1	maxAbsDiff	0		1e-10
origArea2	maxAbsDiff	0		1e-10
status		maxAbsDiff	0		1e-10
variance	maxAbsDiff	0		1e-10
# The following include double-float conversion, hence can't match exactly
origx		errL2		1e-5		1e-4
origy		errL2		1e-5		1e-4
origz		errL2		1e-5		1e-4
rx		errL2		1e-5		1e-4
ry		errL2		1e-5		1e-4
rz		errL2		1e-5		1e-4