Jinja2==3.1.3
Markdown==3.5.2
MarkupSafe==2.1.5
PyWavelets==1.4.1
PyYAML==6.0.1
Werkzeug==3.0.1
absl-py==2.1.0
astunparse==1.6.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.1.1
cycler==0.12.1
deepsurfer==0.1.1a4
filelock==3.13.1
flatbuffers==24.3.7
fonttools==4.49.0
fsspec==2024.2.0
gast==0.4.0
google-auth-oauthlib==1.0.0
google-auth==2.28.2
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
idna==3.6
imageio==2.34.0
importlib_metadata==7.0.2
importlib_resources==6.1.3
joblib==1.3.2
keras==2.13.1
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
matplotlib==3.7.5
mpmath==1.3.0
networkx==3.1
git+https://github.com/adalca/neurite.git@95b2b568b124cbc654467177ddcdb2cb3526788c
nibabel==5.2.1
numpy==1.24.3
#nvidia-cublas-cu12==12.1.3.1
#nvidia-cuda-cupti-cu12==12.1.105
#nvidia-cuda-nvrtc-cu12==12.1.105
#nvidia-cuda-runtime-cu12==12.1.105
#nvidia-cudnn-cu12==8.9.2.26
#nvidia-cufft-cu12==11.0.2.54
#nvidia-curand-cu12==10.3.2.106
#nvidia-cusolver-cu12==11.4.5.107
#nvidia-cusparse-cu12==12.1.0.106
#nvidia-nccl-cu12==2.18.1
#nvidia-nvjitlink-cu12==12.4.99
#nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==23.2
pandas==2.0.3
pillow==10.2.0
protobuf==4.25.3
pyasn1-modules==0.3.0
pyasn1==0.5.1
#pyfs==0.0.0
pyparsing==3.1.2
git+https://github.com/adalca/pystrum.git@ba35d4b357f54e5ed577cbd413076a07ef810a21
python-dateutil==2.9.0.post0
pytz==2024.1
#qatoolspython==0.9.6b0
requests-oauthlib==1.3.1
requests==2.31.0
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
segment-anything==1.0
six==1.16.0
surfa@git+https://github.com/freesurfer/surfa.git@3c89ab809bbf9bfbd603429b7802540cc05c50d0
sympy==1.12
tensorboard-data-server==0.7.2
tensorboard==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow==2.13.1
termcolor==2.4.0
threadpoolctl==3.3.0
tifffile==2023.7.10
torch==2.1.2
tqdm==4.66.2
transforms3d==0.4.1
trimesh==4.1.8
#triton==2.1.0
typing_extensions==4.5.0
tzdata==2024.1
urllib3==1.26.15
voxelmorph@git+https://github.com/voxelmorph/voxelmorph.git@ca3d47a2c254aae9a0c0e1b30c24c324c211ebc8
wrapt==1.16.0
xxhash==3.4.1
zipp==3.17.0
