
# Use this file to list version specifications for modules that may/may not be fixed.
# Nightly builds and releases will query what module revisions were installed
# into fspython (including use of this file) and subseuqently re-generate the
# requirmeents-build* files to list the current explicit revisions (and update
# the requirements-build* files in git). So requirments-build* files should not
# be manually edited and should be self-updating snapshots of foo==revision specs.

charset_normalizer
google_auth
imageio
nibabel
numpy
pytz
pyyaml
scikit-learn
scipy
six
surfa @ git+https://github.com/freesurfer/surfa.git@master
tensorboard
Werkzeug
# capping urllib to avoid this conflict with OpenSSL:
# https://github.com/urllib3/urllib3/issues/2168
urllib3<=1.26.15

