h5py==3.9.0
matplotlib==3.7.2
opencv-python==4.8.0.76
pandas==2.0.3
scikit-image==0.21.0
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
torch==2.0.1
transforms3d==0.4.1
trimesh==3.23.1
git+https://github.com/adalca/pystrum.git@ba35d4b357f54e5ed577cbd413076a07ef810a21
# pystrum @ git+https://github.com/adalca/pystrum.git@master
git+https://github.com/adalca/neurite.git@a6d8f7b78547125faf2834756fc6c89385b722b3
# neurite @ git+https://github.com/adalca/neurite.git@dev
git+https://github.com/voxelmorph/voxelmorph.git@f96c9fb1527649b76b0ecf1f599369e53e4e54ce
# voxelmorph @ git+https://github.com/voxelmorph/voxelmorph.git@dev
